<h1 align="center">Log in</h1> 

   <%= form_for( :session , :html =>{class: "form-horizontal",role: "form" },url: users_signin_path) do |form| %>
   
     <div class="form-group">
      <div class="control-label col-sm-2">
  
      <%= form.label :email %>
    </div>
    <div class="col-sm-8">
      <%= form.email_field :email , class: "form-control",placeholder: "Your Email" %>
     </div>
   </div>
   <div class="form-group">
      <div class="control-label col-sm-2">
  
      <%= form.label :password %>
    </div>
    <div class="col-sm-8">
      <%= form.password_field :password , class: "form-control",placeholder: "Your Password" %>
     </div>
   </div>
 <div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
		<%= form.submit "Log in ",class: 'btn btn-primary btn-lg' %>
		<p style="font-size:120%"><strong>Create a new account? </strong><a href='/users/signup'>Click Here to Signup</a></p>
  </div>
</div>
<% end %>
